body{
    display: flex;

    color: hsl(0, 0%, 100%);
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: hsl(0, 0%, 7%);
    min-height: 85lvh;
    min-width: 800px;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.header{
    display: flex;
    position: relative;
}
#logoLarge{
    flex: 1;
}
.pb{
    flex:1;
    right: 0px;
    position: absolute;
    display: flex;
    transform: translateY(-50%);
    font-family: variable;
    color: hsl(240, 1%, 59%);
    font-size: 12px;
}
#pbL, #pb{
    margin-right: 6px;
}
@font-face {
    font-family: bold;
    src: url(static/Sora-Bold.ttf);
}
#pbO{
    font-family: semibold;
    color: white;
}
@font-face {
    font-family: regular;
    src: url(static/Sora-Regular.ttf);
}
@font-face {
    font-family: semibold;
    src: url(static/Sora-SemiBold.ttf);
}
@font-face {
    font-family: variable;
    src: url(Sora-VariableFont_wght.ttf);
}
.menubar{
    margin-top: 30px;
    display: flex;
    position: relative;
    font-size: 11px;

}
.stats{
    display: flex;
    transform: translateY(-12%);
}
.stat{
    margin-right: 5px;
    font-family: variable;
    color: hsl(240, 1%, 59%);
}
.statO{
    font-family: semibold;
}
.mbL{
    position: absolute;
    right: 0;
    display: flex;
    font-family: regular;
    color: hsl(240, 1%, 59%);
    transform: translateY(-5%);
}
.difB,.modeB{
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(240, 1%, 59%);
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    font-weight: 400;
    padding: 4px;
    font-family: regular;
    font-size: 9px;
    cursor: pointer;
}
.difB:hover,.modeB:hover{
    color: hsl(214, 100%, 55%);
    border-color: hsl(214, 100%, 55%);
}
.difB:focus,.modeB:focus{
    outline: 2px solid hsl(214, 100%, 55%);
    outline-offset: 2px;
}
.vl{
    height: 1rem;
    width: 0px;
    border: 0.1px solid hsl(240, 1%, 59%);
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-left: 15px;
    margin-right: 15px;
}
#hr{
    margin-top: 0px;
    color: blue;
    min-width: 100%;
    height: 0px;
    border-top: 1px solid hsl(240, 1%, 59%);
}
#blurredText{
    filter: blur(4px);
    color:hsl(240, 1%, 59%) ;
    position: relative;
    font-size: 1.5rem;
}
#innerStart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: regular;
    font-size: 13px;
}

#startB{
    background-color: hsl(214, 100%, 55%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-family: regular;
}
#startB:hover{
    background-color: hsl(210, 100%, 65%);
}
#startB:focus{
    outline: 2px solid hsl(214, 100%, 55%);
    outline-offset: 2px;
}
